.logo {
  padding-top: 37px;
  padding-left: 14px;

  & svg {
    width: 37px;
    height: 37px;
    fill: $primary-text-color;
  }

  @include media(tablet) {
    padding-left: 14px;

    & svg {
      width: 24px;
      height: 24px;
    }
  }

  @include media(desktop) {
    padding-left: 28px;

    & svg {
      width: 37px;
      height: 37px;
    }
  }
}

.logoLink {
  @include font(26, 31.2);
  color: $primary-text-color;
  font-weight: 600;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(tablet) {
    @include font(20, 24);
  }

  @include media(desktop) {
    @include font(26, 31.2);
  }
}

.logoTextVersion {
  @include font(10, 12);
  color: $version-text-color;
  letter-spacing: -0.01em;
  margin-left: 4px;
}
