$primary-text-color: #000;
$secondary-text-color: #b5b7c0;
$dasboard-text-color: #9197b3;
$light-color: #ffffff;
$main-bg-color: #fafbff;
$focus-bg-color: #5932ea;
$error-text-color: #df0404;
$success-text-color: #008767;
$active-bg-button: rgba(22, 192, 152, 0.38);
$inactive-bg-button: #ffc5c5;
$version-text-color: #838383;
$position-text-color: #757575;
