.sectionTitle {
  padding-top: 38px;
  padding-left: 100px;
  @include font(24, 28.8);

  @include media(tablet) {
    padding-top: 41px;
    padding-left: 71px;
    @include font(24, 28.8);
  }
}

.sectionBlock {
  padding: 51px 20px 0 20px;

  @include media(tablet) {
    padding: 51px 20px 0 40px;
  }

  @include media(desktop) {
    padding: 51px 20px 0 71px;
  }
}
